@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #8AA6A3;      /*cor de fundo*/
    background-attachment: fixed;       /*fixa o fundo*/
}
main {
    background-color: whitesmoke;
    border-radius: 10px;        /*deixa a borda aredondada*/
    margin: auto;       /*deixa o conteúdo sempre centralizado*/       
    max-width: 800px;       /*limite máximo pra se ajustar à tela*/
    min-width: 350px;       /*limite mínimo pra se ajustar à tela*/
    box-shadow: 5px 5px 15px #5c6e6dc0;/*sombra (x-y-espalhamento)*/
    padding: 10px;      /*recuo da escrita*/
}
h1 {
    color: #127369;
    text-align: center;     /*alinhamento do texto*/
    text-shadow: 1px 1px 1px #0a4640be;/*sombra (x-y-espalhamento)*/
}
h2 {
    color: #165852;
}
p {
    text-align: justify;        /*texto alinhado justificado*/
}